html, body{
    height: 100%;
}

/* navbar */

#brand-logo{
    width: 50px;
} 

.navbar.navbar-expand-lg{
    background-color: #000;
    font-weight: bold;
}

.navbar.navbar-expand-lg a{
    color: #f2f2f2;
}

/* HOME*/
#main-banner{
    background-image: url(../img/header_banner.jpg);
    height: 300px;
    background-position: center;
    background-size: cover;
    width: 100%;
    background-position-y: -300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-banner h1{
    color: #f2f2f2;
    background-color: #000;
    text-align: center;
    padding: 30px;
    text-transform: uppercase;
    width: 550px;
    font-size: 50px;

}

#main-container{
    margin-bottom: 100px;
    padding: 50px 0;
    text-align: center;
    min-height: 50%;
}

#main-container h2{
    margin-bottom: 30px;
}

.row{
    margin: 0;
}

#pizza-form{
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}

#pizza-form label{
    font-weight: bold;
}

.btn.btn-primary{
    background-color: #000;
    border-color: #000;
}

/* ALERTA*/
.alert{
    border-radius: 0;
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
    padding: 20px;
    font-size: 18px;
    background-color: #59e959;
}

.alert.alert-success{
    border: 2px solid #155724;
    background-color: #59e959;
}

.alert.warning{
    border: 2px solid #856404;
    background-color: #fff3cd;
    
}

.alert p{
    margin-bottom: 0;
}

/* footer */

footer{
    position: relative;
    width: 100%;
    height: 175px;
    background-color: #000;
    color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}